.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo {
    width: 40px;
}

.logo-text {
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav p {
    padding: 10px;
    cursor: pointer;
}