h1 {
    font-weight: 700;
    font-size: 40px;
}

.btn-container {

}

button {
    background:rgb(255, 81, 0);
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    box-shadow: 2px 2px 3px #444;
    cursor: pointer;
}