.bounding-box {
    position: absolute;
    /* box-shadow: inset 2px 2px 0 rgb(5, 65, 109); */
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    position: absolute;
}